/* header */

.header__title {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
}

.header__search-container {
    display: flex;
    align-items: stretch;
    margin: 1rem;
    gap: 0.5rem;
}

.header__search-input {
    display: flex;
    align-items: center;
    background-color: var(--input-background);
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.3125rem;
}

.search-input__pokemon-name {
    border: none;
    flex: 1;
    background-color: transparent;
    outline-width: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-overflow: ellipsis;
}

.header__search-button button {
    cursor: pointer;
    border: none;
    border-radius: 0.3125rem;
    height: 100%;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 0 0.825rem;
    background-color: var(--button-color);
    transition: background-color 300ms ease-in-out;
}

.header__search-button button:hover {
    background-color: var(--button-color-hover);
}

/* main */
.pokemon-list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 0.5rem;
    padding: 0 1rem 1rem;
    cursor: pointer;
}

.pokemon-card {
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    background-color: var(--button-color);
    border-radius: 0.825rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pokemon-card__image img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 0.5rem;
}

.pokemon-card__infos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pokemon-card__infos__pokemon-number {
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}

.pokemon-card__infos__pokemon-name {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.pokemon-card__infos__types {
    display: flex;
    gap: 0.5rem;
}

/* error-dialog */
.error-dialog {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: white;
    border-radius: 1rem;
}

.message-container__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.message-container__button {
    cursor: pointer;
    border: none;
    border-radius: 0.3125rem;
    height: 100%;
    color: white;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.5rem 0.5rem;
    background-color: var(--button-color);
    transition: background-color 300ms ease-in-out;
    align-self: flex-end;
}

.message-container__button:hover {
    background-color: var(--button-color-hover);
}

/* pokemon-dialog */

.pokemon-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-details {
    background-color: var(--background-type-grass);
    border-radius: 1rem;
    padding: 1rem 0.5rem;
}

.pokemon-details__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.825rem;
}

.pokemon-details__top__image {
    width: 100px;
    height: 100px;
    z-index: 1;
}

.pokemon-details__top__infos {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.pokemon-details__top__infos__number {
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
}

.pokemon-details__top__infos__name {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
}

.pokemon-details__top__infos__types {
    display: flex;
    gap: 0.5rem;
}

.pokemon-details__bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.pokemon-details__bottom .title {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
}

.pokemon-details__bottom__infos {
    background-color: white;
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.25rem;
}

.pokemon-details__bottom__infos__abilities {
    display: flex;
    flex-direction: column;
}

.key {
    font-size: 0.75rem;
    font-weight: bold;
}

.value {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.825rem;
}

.hidden-ability {
    font-size: 0.75rem;
}

.pokemon-details__bottom__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    justify-items: flex-start;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
