@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

:root {
	--input-background: #f2f2f2;
	--button-color:#EA5D60;
	--button-color-hover:#bb2e31;	
	/* background type */
	--background-type-bug: #8BD764;
	--background-type-dark: #6F6378;
	--background-type-dragon: #7383B9;
	--background-type-electric: #F2CB55;
	--background-type-fairy: #EBA8C3;
	--background-type-fighting: #EB4971;
	--background-type-fire: #FFA756;
	--background-type-flying: #83A2E3;
	--background-type-ghost: #8571BE;
	--background-type-grass: #8BBE8A;
	--background-type-ground: #F78551;
	--background-type-ice: #91D8DF;
	--background-type-normal: #B5B9C4;
	--background-type-poison: #9F6E97;
	--background-type-psychic: #FF6568;
	--background-type-rock: #D4C294;
	--background-type-steel: #4C91B2;
	--background-type-water: #58ABF6;
}
